{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">

        <el-form-item label="工程名">
            <el-input v-model="projectName" v-on:input="materialNameChanged"></el-input>
        </el-form-item>
        <el-form-item label="日期">
            <el-date-picker
                    v-model="performanceDate"
                    type="date"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="机台">
            <el-select
                    clearable
                    @change="machineNoChange"
                    v-model="machineNo" placeholder="请选择">
                <el-option
                        v-for="item in machineNoOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item style="float: right">
            <el-form-item>
                <el-button>
                    下载全部
                </el-button>
            </el-form-item>
        </el-form-item>
    </el-form>
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                label="处理"
                width="40">
        </el-table-column>
        <el-table-column
                prop="material_type"
                label="机型">
        </el-table-column>
        <el-table-column
                prop="material_no"
                label="胶料代码"
                width="140px">
            <template slot-scope="scope">
                <span style="margin-left: 10px" v-text="scope.row.material_no"></span>
                <el-button @click="detailsClick(scope.row)" type="text" size="small" style="float: right; width: 20%">
                    <i class="el-icon-search"></i>
                </el-button>
            </template>
        </el-table-column>
        <el-table-column
                prop="standard_weight"
                label="标准重量">
        </el-table-column>
        <el-table-column
                prop="daily_plan"
                label="日计划">
        </el-table-column>
        <el-table-column
                prop="daily_result"
                label="日结果">
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="早班">
            <el-table-column
                prop="class.morning_shift.plan"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="class.morning_shift.result"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="中班">
            <el-table-column
                prop="class.middle_shift.plan"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="class.middle_shift.result"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="晚班">
            <el-table-column
                prop="class.night_shift.plan"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="class.night_shift.result"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
            prop="download"
            label="下载">
            <template slot-scope="scope">
                <el-button @click="downloadClick(scope.row)" type="text" size="small">下载</el-button>
            </template>
        </el-table-column>
    </el-table>
    {% include 'gui/paginations.html' %}
    <template>
  <el-button type="text" @click="outerVisible = true">点击打开外层 Dialog</el-button>


</template>


{% endblock %}


{% block dialogs %}
    <el-dialog title="修改" :visible.sync="dialogAddMaterialBaseInfoVisible">
        <el-form v-model="materialBaseInfoForm" :label-width="formLabelWidth">
            <el-form-item :error="materialBaseInfoFormError.material_no" label="原材料编码">
                <el-input v-model="materialBaseInfoForm.material_no"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogAddMaterialBaseInfoVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleAddMaterialBaseInfo">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="外层 Dialog" :visible.sync="outerVisible">
    <el-dialog
      width="30%"
      title="内层 Dialog"
      :visible.sync="innerVisible"
      append-to-body>
    </el-dialog>
    <div slot="footer" class="dialog-footer">
      <el-button @click="outerVisible = false">取 消</el-button>
      <el-button type="primary" @click="innerVisible = true">打开内层 Dialog</el-button>
    </div>
  </el-dialog>
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}

{#    <script src="{% static 'node_modules/dayjs/dayjs.min.js' %}"></script>#}
    <script src="{% static 'gui/js/banburying_performance_manage.js' %}"></script>
{% endblock %}















