{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">
        <el-form-item label="日期">
            <el-date-picker
                    v-model="search_time"
                    @change="search_timeChange"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="班次">
            <el-input model=""></el-input>
        </el-form-item>
        <el-form-item label="机台">
            <el-input v-model="equip_no" v-on:input="equip_noChange"></el-input>
        </el-form-item>


        <el-form-item style="float: right">
            <el-form-item>
                <el-button @click="SearchBanburyPlan">查询</el-button>
            </el-form-item>
        </el-form-item>
    </el-form>



    <el-table
            highlight-current-row
            @current-change="handleCurrentChange"
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column prop="equip_no" label="机台" width="40"></el-table-column>
        <el-table-column prop="sn" label="顺序"></el-table-column>

        <el-table-column align="center" label="胶料信息">
            <el-table-column prop="product_no" label="胶料编码"></el-table-column>
            <el-table-column prop="stage" label="STAGE"></el-table-column>
            <el-table-column prop="actual_time" label="时间"></el-table-column>
            <el-table-column prop="plan_weight" label="重量"></el-table-column>
        </el-table-column>

        <el-table-column align="center" label="计划">
            <el-table-column prop="plan_trains" label="数量"></el-table-column>
            <el-table-column prop="plan_weight" label="重量"></el-table-column>
            <el-table-column prop="plan_time" label="时间"></el-table-column>
        </el-table-column>

        <el-table-column align="center" label="实际">
            <el-table-column prop="actual_trains" label="数量"></el-table-column>
            <el-table-column prop="actual_weight" label="重量"></el-table-column>
            <el-table-column prop="actual_time" label="时间"></el-table-column>
        </el-table-column>

        <el-table-column align="center" label="分析">
            <el-table-column prop="start_rate" label="启动率"></el-table-column>
            <el-table-column prop="ach_rate" label="达成率"></el-table-column>
        </el-table-column>

    </el-table>

    {% include 'gui/paginations.html' %}
{% endblock %}


{% block dialogs %}
{% endblock %}


{% block scripts %}
    <script src="{% static 'gui/js/banburying_plan_manage.js' %}"></script>
{% endblock %}















