{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">

        <el-form-item label="工程名">
            <el-input v-model="projectName" v-on:input="materialNameChanged"></el-input>
        </el-form-item>
        <el-form-item label="日期">
            <el-date-picker
                    v-model="performanceDate"
                    @change="performanceDateChange"
                    type="date"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="机台">
            <el-select
                    clearable
                    @change="equipNoChange"
                    v-model="equipNo" placeholder="请选择">
                <el-option
                        v-for="item in equipNoOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item style="float: right">
            <el-form-item>
                <el-button>
                    下载全部
                </el-button>
            </el-form-item>
        </el-form-item>
    </el-form>
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                label="处理"
                width="40">
        </el-table-column>
        <el-table-column
                prop="equip_no"
                label="机型">
        </el-table-column>
        <el-table-column
{#                prop="product_no"#}
                label="胶料代码"
                width="140px">
            <template slot-scope="scope">
                <span style="margin-left: 10px" v-text="scope.row.product_no"></span>
                <el-button @click="detailsClick(scope.row)" type="text" size="small" style="float: right; width: 20%">
                    <i class="el-icon-search"></i>
                </el-button>
            </template>
        </el-table-column>
        <el-table-column
                prop="plan_weight"
                label="标准重量">
        </el-table-column>
        <el-table-column
                prop="plan_trains"
                label="日计划">
        </el-table-column>
        <el-table-column
                prop="actual_trains"
                label="日结果">
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="早班">
            <el-table-column
                prop="classes_data[0].plan_trains"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="classes_data[0].actual_trains"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="中班">
            <el-table-column
                prop="classes_data[1].plan_trains"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="classes_data[1].actual_trains"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
                align="center"
{#                prop="mr_material_requisition_classes"#}
                label="晚班">
            <el-table-column
                prop="classes_data[2].plan_trains"
                label="计划">
            </el-table-column>
            <el-table-column
                prop="classes_data[2].actual_trains"
                label="结果">
            </el-table-column>
        </el-table-column>
        <el-table-column
            prop="download"
            label="下载">
            <template slot-scope="scope">
                <el-button @click="downloadClick(scope.row)" type="text" size="small">下载</el-button>
            </template>
        </el-table-column>
    </el-table>

{#    {% include 'gui/paginations.html' %}#}
{% endblock %}


{% block dialogs %}
        <el-dialog
                title="胶料产出反馈"
                :visible.sync="dialogVisibleRubber">
            <el-form :inline="true">
                <el-form-item label="胶料区分: ">
                    fmc
                </el-form-item>
                <el-form-item label="规格: ">
                    fmc
                </el-form-item>
                <el-form-item label="班: ">
                    全部
                </el-form-item>
                <el-form-item label="机台: ">
                    hhh
                </el-form-item>

            </el-form>
            <div style="color:#409EFF;cursor:pointer" @click="clickBAT">点击bat</div>
            <el-table
                    :data="tableDataRubber"
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="机台">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="日期">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="班次">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="胶料编码">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="车次">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="胶">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="炭黑">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="白炭黑">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="自动药品">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="氧化锌">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="手动药品">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="油">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="偶联剂">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="时间">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="温度">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="电量">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="RPM">
                </el-table-column>

            </el-table>
        </el-dialog>
        <el-dialog
                title="BAT查询"
                :visible.sync="dialogVisibleBAT">
            <div style="position: relative">
                <el-form :inline="true" style="margin-right: 100px;">
                    <el-form-item label="胶料区分: ">
                        fmc
                    </el-form-item>
                    <el-form-item label="规格: ">
                        fmc
                    </el-form-item>
                    <el-form-item label="班: ">
                        全部
                    </el-form-item>
                    <el-form-item label="机台: ">
                        hhh
                    </el-form-item>
                    <el-form-item label="机台: ">
                        车次
                    </el-form-item>

                </el-form>
                <el-button @click="viewGraph" style="position: absolute;right:10px;top:0">
                    图形
                </el-button>
            </div>
            <el-table
                    :data="tableDataBAT"
                    style="width: 100%">
                <el-table-column
                        prop="date"
                        label="LOT">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="规格"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="机台">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="BAT">
                    <template slot-scope="scope">
                        <div style="color:#409EFF;cursor:pointer" @click="clickBAT">{{ scope.row.Bat }}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="生产重量">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="生产时间">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="班次">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="作业者">
                </el-table-column>

            </el-table>
        </el-dialog>
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}

    <script src="{% static 'node_modules/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'gui/js/banburying_performance_manage.js' %}"></script>
{% endblock %}















