{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    {% if perms.basics.view_globalcodetype %}
        <el-row>
            <el-col :span="12">
                <el-form :inline="true">
                    <el-form-item label="类型名称">
                        <el-input v-model="type_name" v-on:input="typeNameChanged"></el-input>
                    </el-form-item>
                    {% if perms.basics.add_globalcodetype %}
                        <el-form-item style="float: right">
                            <el-button @click="showCreateGlobalCodeTypeDialog">新建</el-button>
                        </el-form-item>
                    {% endif %}
                </el-form>
                <el-table
                        :data="tableData"
                        border
                        highlight-current-row
                        @current-change="handleGlobalCodeTypesCurrentRowChange"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="序"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            prop="type_no"
                            label="类型代码">
                    </el-table-column>
                    <el-table-column
                            prop="type_name"
                            label="类型名称">
                    </el-table-column>
                    <el-table-column
                            prop="used_flag"
                            label="使用"
                            width="50"
                            :formatter="globalCodeTypeFormatter">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button-group>
                                {% if perms.basics.change_globalcodetype %}
                                    <el-button
                                            size="mini"
                                            @click="showEditGlobalCodeTypeDialog(scope.row)">编辑
                                    </el-button>
                                {% endif %}
                                {% if perms.basics.delete_globalcodetype %}
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="handleGlobalCodeTypeDelete(scope.row)">删除
                                    </el-button>
                                {% endif %}
                            </el-button-group>
                        </template>
                    </el-table-column>
                </el-table>
                {% include 'gui/paginations.html' %}
            </el-col>
            {% if perms.basics.view_globalcode %}
                <el-col :span="12">
                    <el-form :inline="true">
                        {% if perms.basics.add_globalcode %}
                            <el-form-item style="float: right">
                                <el-button :disabled="!globalCodeTypesCurrentRow" @click="showCreateGlobalCodeDialog">新建
                                </el-button>
                            </el-form-item>
                        {% endif %}
                    </el-form>
                    <el-table
                            :data="globalCodes"
                            border
                            style="width: 100%">
                        <el-table-column
                                label=Id
                                prop="id"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="global_no"
                                label="公用代码">
                        </el-table-column>
                        <el-table-column
                                prop="global_name"
                                label="公用代码名称">
                        </el-table-column>
                        <el-table-column
                                prop="description"
                                label="备注">
                        </el-table-column>
                        <el-table-column
                                prop="used_flag"
                                width="50"
                                label="使用"
                                :formatter="globalCodeUsedFlagFormatter">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button-group>
                                    {% if perms.basics.change_globalcode %}
                                        <el-button
                                                size="mini"
                                                @click="showEditGlobalCodeDialog(scope.row)">编辑
                                        </el-button>
                                    {% endif %}
                                    {% if perms.basics.delete_globalcode %}
                                        <el-button
                                                size="mini"
                                                type="danger"
                                                @click="handleGlobalCodesDelete(scope.row)">删除
                                        </el-button>
                                    {% endif %}

                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-col>
            {% endif %}

        </el-row>
    {% endif %}
{% endblock %}

{% block dialogs %}
    {% if perms.basics.add_globalcodetype %}
        <el-dialog title="添加公用代码类型" :visible.sync="dialogCreateGlobalCodeTypeVisible">
            <el-form :model="globalCodeTypeForm">
                <el-form-item :error="globalCodeTypeFormError.type_no" label="类型编号" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.type_no"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.type_name" label="类型名称" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.type_name"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.description" label="说明" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.description"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.used_flag" label="是否启用" :label-width="formLabelWidth">
                    <el-switch v-model="globalCodeTypeForm.used_flag"></el-switch>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogCreateGlobalCodeTypeVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleCreateGlobalCodeType()">确 定</el-button>
            </div>
        </el-dialog>
    {% endif %}
    {% if perms.basics.change_globalcodetype %}
        <el-dialog title="编辑公用代码类型" :visible.sync="dialogEditGlobalCodeTypeVisible">
            <el-form :model="globalCodeTypeForm">
                <el-form-item :error="globalCodeTypeFormError.type_no" label="类型编号" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.type_no"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.type_name" label="类型名称" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.type_name"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.description" label="说明" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeTypeForm.description"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeTypeFormError.used_flag" label="是否启用" :label-width="formLabelWidth">
                    <el-switch v-model="globalCodeTypeForm.used_flag"></el-switch>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditGlobalCodeTypeVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleEditGlobalCodeType">确 定</el-button>
            </div>
        </el-dialog>
    {% endif %}
    {% if perms.basics.add_globalcode %}
        <el-dialog title="添加公用代码" :visible.sync="dialogCreateGlobalCodeVisible">
            <el-form :model="globalCodeForm">
                <el-form-item :error="globalCodeFormError.global_no" label="公用代码编号" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.global_no"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.global_name" label="公用代码名称" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.global_name"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.description" label="说明" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.description"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.used_flag" label="是否启用" :label-width="formLabelWidth">
                    <el-switch v-model="globalCodeForm.used_flag_b"></el-switch>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogCreateGlobalCodeVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleCreateGlobalCode">确 定</el-button>
            </div>
        </el-dialog>
    {% endif %}
    {% if perms.basics.change_globalcode %}
        <el-dialog title="编辑公用代码" :visible.sync="dialogEditGlobalCodeVisible">
            <el-form :model="globalCodeForm">
                <el-form-item :error="globalCodeFormError.global_no" label="公用代码编号" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.global_no"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.global_name" label="公用代码名称" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.global_name"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.description" label="说明" :label-width="formLabelWidth">
                    <el-input v-model="globalCodeForm.description"></el-input>
                </el-form-item>
                <el-form-item :error="globalCodeFormError.used_flag" label="是否启用" :label-width="formLabelWidth">
                    <el-switch v-model="globalCodeForm.used_flag_b"></el-switch>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditGlobalCodeVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleEditGlobalCode">确 定</el-button>
            </div>
        </el-dialog>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/global_codes_manage.js' %}"></script>
{% endblock %}