{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">
        <el-form-item label="原材料类别">
            <el-select
                    clearable
                    @change="materialTypeChange"
                    v-model="materialType" placeholder="请选择">
                <el-option
                        v-for="item in materialTypeOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item style="float: right;">
            <el-button @click="showAddMaterialDialog">新建</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                label="S"
                width="30">
        </el-table-column>
        <el-table-column
                prop="material_no"
                label="原材料代码">
        </el-table-column>
        <el-table-column
                prop="material_name"
                label="原材料名称">
        </el-table-column>
        <el-table-column
                prop="for_short"
                label="原材料简称">
        </el-table-column>
        <el-table-column
                prop="material_type_name"
                label="原材料类别">
        </el-table-column>
        <el-table-column
                prop="density"
                label="比重"
                width="100">
        </el-table-column>
        <el-table-column
                prop="package_unit_name"
                label="包装单位">
        </el-table-column>
        <el-table-column
                :formatter="formatter"
                prop="used_flag"
                label="使用与否">
        </el-table-column>
        <el-table-column
                prop="created_user_name"
                label="创建人员">
        </el-table-column>
        <el-table-column
                prop="created_date"
                label="创建时间">
        </el-table-column>
        <el-table-column
                prop="update_user_name"
                label="更新人员">
        </el-table-column>
        <el-table-column
                prop="last_updated_date"
                label="更新时间">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button
                            size="mini"
                            @click="showEditMaterialDialog(scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleMaterialDelete(scope.row)">删除
                    </el-button>
                </el-button-group>
            </template>
        </el-table-column>
    </el-table>
    {% include 'gui/paginations.html' %}
{% endblock %}

{% block dialogs %}

    <el-dialog title="添加原材料基本信息" :visible.sync="dialogAddMaterialBaseInfoVisible">
        <el-form v-model="materialBaseInfoForm" :label-width="formLabelWidth">
            <el-form-item :error="materialBaseInfoFormError.material_no" label="原材料编码">
                <el-input v-model="materialBaseInfoForm.material_no"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.material_name" label="原材料名称">
                <el-input v-model="materialBaseInfoForm.material_name"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.for_short" label="原材料简称">
                <el-input v-model="materialBaseInfoForm.for_short"></el-input>
            </el-form-item>
            <!--
            <el-form-item :error="materialBaseInfoFormError.density" label="比重">
                <el-input v-model="materialBaseInfoForm.density"></el-input>
            </el-form-item>
            -->
            <el-form-item :error="materialBaseInfoFormError.used_flag" label="是否启用">
                <el-switch v-model="materialBaseInfoForm.used_flag">
                </el-switch>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.material_type" label="原材料类别">
                <el-select
                        v-model="materialBaseInfoForm.material_type"
                        placeholder="请选择">
                    <el-option
                            v-for="item in materialTypeOptions"
                            :key="item.id"
                            :label="item.global_name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.package_unit" label="包装单位">
                <el-select v-model="materialBaseInfoForm.package_unit" placeholder="请选择">
                    <el-option
                            v-for="item in packingUnitOptions"
                            :key="item.id"
                            :label="item.global_name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogAddMaterialBaseInfoVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleAddMaterialBaseInfo">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑原材料基本信息" :visible.sync="dialogEditMaterialBaseInfoVisible">
        <el-form v-model="materialBaseInfoForm" :label-width="formLabelWidth">
            <el-form-item :error="materialBaseInfoFormError.material_no" label="原材料编码">
                <el-input v-model="materialBaseInfoForm.material_no"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.material_name" label="原材料名称">
                <el-input v-model="materialBaseInfoForm.material_name"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.for_short" label="原材料简称">
                <el-input v-model="materialBaseInfoForm.for_short"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.density" label="比重">
                <el-input v-model="materialBaseInfoForm.density"></el-input>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.used_flag" label="是否启用">
                <el-switch v-model="materialBaseInfoForm.used_flag">
                </el-switch>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.material_type" label="原材料类别">
                <el-select
                        v-model="materialBaseInfoForm.material_type"
                        placeholder="请选择">
                    <el-option
                            v-for="item in materialTypeOptions"
                            :key="item.id"
                            :label="item.global_name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :error="materialBaseInfoFormError.package_unit" label="包装单位">
                <el-select v-model="materialBaseInfoForm.package_unit" placeholder="请选择">
                    <el-option
                            v-for="item in packingUnitOptions"
                            :key="item.id"
                            :label="item.global_name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogEditMaterialBaseInfoVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleEditMaterialBaseInfo">确 定</el-button>
        </div>
    </el-dialog>
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/material_base_info_manage.js' %}"></script>
{% endblock %}