{% extends 'gui/base.html' %}
{% load static %}

{% block main %}

    <el-form :inline="true">


        <el-form-item label="状态">
            <el-select
                    size="mini"
                    clearable
                    @change="RubberStateChange"
                    v-model="RubberState" placeholder="请选择">
                <el-option
                        v-for="item in RubberStateOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="产地">
            <el-select
                    size="mini"
                    clearable
                    @change="RubberSiteChange"
                    v-model="RubberSite" placeholder="请选择">
                <el-option
                        v-for="item in RubberSiteOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="段次">
            <el-select
                    size="mini"
                    clearable
                    @change="RubberStageChange"
                    v-model="RubberStage" placeholder="请选择">
                <el-option
                        v-for="item in RubberStageOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item  label="胶料编码">
            <el-input size="small" v-model="stage_product_batch_no" v-on:input="stage_product_batch_noChanged"></el-input>
        </el-form-item>

        <el-form-item style="float: right">
            <el-button @click="">配料</el-button>
        </el-form-item>
        <el-form-item style="float: right">
            <el-button @click="showAddRubberMaterialDialog">新建</el-button>
        </el-form-item>

    </el-form>
    <el-table
            highlight-current-row
            @current-change="handleCurrentChange"
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                type="index"
                width="50"
                label="No">
        </el-table-column>
        <el-table-column
                prop="stage_product_batch_no"
                label="胶料编号">
        </el-table-column>
        <el-table-column
                prop="product_name"
                label="胶料名称">
        </el-table-column>
        <el-table-column
                prop="dev_type_name"
                label="炼胶机类型">
        </el-table-column>
        <el-table-column
                prop="used_type"
                label="状态">
        </el-table-column>

        <el-table-column
                prop="batching_weight"
                label="配料重量">
        </el-table-column>
        <el-table-column
                prop="production_time_interval"
                label="炼胶时间">
        </el-table-column>
        <el-table-column
                prop="rm_flag"
                label="反炼与否"
                :formatter="RmFlagFormatter">
        </el-table-column>
        <el-table-column
                prop="rm_time_interval"
                label="反炼时间">
        </el-table-column>
        <el-table-column
                prop="used_user_name"
                label="创建人员">
        </el-table-column>
        <el-table-column
                prop="created_date"
                label="创建时间">
        </el-table-column>
        <el-table-column
                prop="update_user_name"
                label="更新人员">
        </el-table-column>
        <el-table-column
                prop="last_updated_date"
                label="更新时间">
        </el-table-column>

        <el-table-column label="操作">

        </el-table-column>

    </el-table>
    {% include 'gui/paginations.html' %}
{% endblock %}

{% block dialogs %}

    <el-dialog
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            title="新建胶料配料" :visible.sync="dialogAddRubberMaterial">
        <el-form v-model="rubberMaterialForm" :label-width="formLabelWidth">
            <el-form-item label="产地">
                <el-select v-model="rubberMaterialForm.factory" placeholder="请选择">
                    <el-option
                            v-for="option in RubberSiteOptions"
                            :key="option.id"
                            :label="option.global_name"
                            :value="option.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="胶料编码" :label-width="formLabelWidth">
                <el-input v-model="rubberMaterialForm.stage_product_batch_no"></el-input>
            </el-form-item>
            <el-form-item label="段次" :label-width="formLabelWidth">
                <el-input v-model="rubberMaterialForm.stage"></el-input>
            </el-form-item>

            <el-form-item label="炼胶机类型">
                <el-select v-model="rubberMaterialForm.dev_type_name" placeholder="请选择">
                    <el-option
                            v-for="option in DevTypeOptions"
                            :key="option.id"
                            :label="option.global_name"
                            :value="option.id">
                    </el-option>
                </el-select>
            </el-form-item>

{#            {% verbatim vue %}#}
{#                <el-form-item>#}
{#                    <p style="color: red">{{ rubberMaterialError }}</p>#}
{#                </el-form-item>#}
{#            {% endverbatim vue %}#}
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogAddRubberMaterial = false">取 消</el-button>
            <el-button type="primary" @click="handleAddRubberMaterial">生成</el-button>
        </div>
    </el-dialog>

{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/rubber_material_filter.js' %}"></script>
    <script src="{% static 'gui/js/rubber_material_standard_manage.js' %}"></script>
{% endblock %}















