{% extends 'gui/base.html' %}
{% load static %}

{% block main %}

    <el-form :inline="true">


        <el-form-item label="状态">
            <el-select
                    style="width: 150px"
                    clearable
                    @change="RubberStateChange"
                    v-model="RubberState" placeholder="请选择">
                <el-option
                        v-for="item in RubberStateOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="SITE">
            <el-select
                    style="width: 150px"
                    clearable
                    @change="RubberSiteChange"
                    v-model="RubberSite" placeholder="请选择">
                <el-option
                        v-for="item in PopupRubberSITEOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="段次">
            <el-select
                    style="width: 150px"
                    clearable
                    @change="RubberStageChange"
                    v-model="RubberStage" placeholder="请选择">
                <el-option
                        v-for="item in RubberStageOptions"
                        :key="item.id"
                        :label="item.global_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item  label="胶料编码">
            <el-input style="width: 200px" v-model="stage_product_batch_no" v-on:input="stage_product_batch_noChanged"></el-input>
        </el-form-item>
        <el-form-item style="float: right">
            <el-button  @click="showAddRubberMaterialDialog">新建</el-button>
        </el-form-item>
        <el-form-item style="float: right">
            <el-button :disabled="currentRow.used_type != 1"  @click="showPutRubberMaterialDialog">配料</el-button>
        </el-form-item>


    </el-form>
    <el-table
            highlight-current-row
            @row-click="handleCurrentChange"
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                align="center"
                type="index"
                width="50"
                label="No">
        </el-table-column>
        <el-table-column
                align="center"
                width="160%"
                prop="stage_product_batch_no"
                label="胶料配方编号">
        </el-table-column>
        <el-table-column
                align="center"
                prop="product_name"
                label="胶料编码">
        </el-table-column>
        <el-table-column
                align="center"
                prop="site_name"
                label="site">
        </el-table-column>
        <el-table-column
                align="center"
                prop="stage_name"
                label="段次">
        </el-table-column>

        <el-table-column
                align="center"
                width="100%"
                prop="dev_type_name"
                label="炼胶机类型">
        </el-table-column>
        <el-table-column
                align="center"
                prop="batching_weight"
                label="配料重量">
        </el-table-column>
        <el-table-column
                align="center"
                prop="production_time_interval"
                label="炼胶时间">
        </el-table-column>
        <el-table-column
                align="center"
                prop="used_type"
                label="状态"
                :formatter="usedTypeFormatter">
        </el-table-column>

        <el-table-column align="center" label="操作">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button @click="status_true(scope.row)" size="mini" v-if="scope.row.used_type === 1">
                        提交
                    </el-button>
                    <el-button @click="status_true(scope.row)" size="mini" v-if="scope.row.used_type === 2">
                        校对
                    </el-button>
                    <el-button @click="status_true(scope.row)" size="mini" v-if="scope.row.used_type === 3">
                        启用
                    </el-button>
                    <el-button @click="status_false(scope.row)" size="mini" v-if="scope.row.used_type === 2 | scope.row.used_type === 3">
                        驳回
                    </el-button>
                    <el-button @click="status_false(scope.row)" size="mini" v-if="scope.row.used_type === 4">
                        废弃
                    </el-button>
                </el-button-group>
            </template>
        </el-table-column>
        <el-table-column
                align="center"
                prop="created_username"
                label="创建者">
        </el-table-column>
        <el-table-column
                align="center"
                prop="created_date"
                label="创建时间">
        </el-table-column>
        <el-table-column align="center" label="发送到上辅机">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button @click="send_auxiliary(scope.row)" size="mini" v-if="scope.row.used_type === 4">
                        发送
                    </el-button>
                </el-button-group>
            </template>
        </el-table-column>

    </el-table>
    {% include 'gui/paginations.html' %}
{% endblock %}

{% block dialogs %}

    <el-dialog
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            title="新建胶料配料" :visible.sync="dialogAddRubberMaterial">
        <el-form :model="rubberMaterialForm" :rules="rules" ref="rubberMaterialForm" :label-width="formLabelWidth">
            <el-form-item label="工厂" prop="factory">
                <el-select
                        size="mini"
                        v-model="rubberMaterialForm.factory" placeholder="请选择">
                    <el-option
                            v-for="item in RubberSiteOptions"
                            :key="item.id"
                            :value="item.id"
                            :label="item.global_name">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="SITE" prop="SITE">
                <el-select
                        @change="GenerateRubberMaterialNOChanged"
                        size="mini"
                        v-model="rubberMaterialForm.SITE" placeholder="请选择">
                    <el-option
                            v-for="item in PopupRubberSITEOptions"
                            :key="item.id"
                            :value="item.id"
                            :label="item.global_name">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="胶料编码" prop="rubber_no">
                <el-autocomplete
                        style="width: 31%"
                        size="mini"
                        value-key = "product_no"
                        v-model="rubberMaterialForm.rubber_no"
                        :fetch-suggestions="rubber_no_querySearchAsync"
                        placeholder="请输入内容"
                ></el-autocomplete>
            </el-form-item>

            <el-form-item label="段次" prop="stage">
                <el-select
                        @change="GenerateRubberMaterialNOChanged"
                        size="mini"
                        v-model="rubberMaterialForm.stage" placeholder="请选择">
                    <el-option
                            v-for="item in RubberStageOptions"
                            :key="item.id"
                            :value="item.id"
                            :label="item.global_name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="版本" prop="version">
                <el-input style="width: 31%" size="mini" v-model="rubberMaterialForm.version" placeholder="版本" v-on:input="GenerateRubberMaterialNOChanged"></el-input>
            </el-form-item>
            <el-form-item label="方案">
            <el-input style="width: 31%" size="mini" v-model="rubberMaterialForm.scheme" placeholder="方案"></el-input>
            </el-form-item>
            <el-form-item label="胶料配方编码">
            <el-input style="width: 31%" size="mini" v-model="rubberMaterialForm.generate_material_no" :disabled="true" placeholder=""></el-input>
            </el-form-item>
            <el-form-item>
                <!--<el-button @click="dialogAddRubberMaterial = false">取 消</el-button>-->
                <el-button type="primary" @click="NewAddMaterial('rubberMaterialForm')">配料</el-button>
                <el-button type="primary" @click="NewhandleAddRubberMaterial('rubberMaterialForm')">生成</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>


    <el-dialog
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            width="90%" title="胶料配料标准" :visible.sync="NewdialogChoiceMaterials">

        <el-form :inline="true">
            <el-form-item style="float: right">
                <el-button @click="NewsaveMaterialClicked">保存</el-button>
            </el-form-item>
        </el-form>

        胶料编码:&nbsp;&nbsp;&nbsp;&nbsp; <el-input size="mini" v-model="select_stage_product_batch_no" :disabled="true" style="width: 20%" ></el-input>
        胶料名称: <el-input size="mini" v-model="select_product_name" :disabled="true" style="width: 10%" ></el-input>
        状态: <el-input size="mini" v-model="select_status" :disabled="true" style="width: 10%" ></el-input>
        <br><br>
        炼胶机类型: <el-input size="mini" v-model="RubberSite" :disabled="true" style="width: 10%" ></el-input>
        配料重量: <el-input size="mini" v-model="select_material_weight" :disabled="true" style="width: 10%" ></el-input>
        炼胶时间: <el-time-picker size="mini" :disabled="true" v-model="select_rm_time_interval" value-format="HH:mm:ss" :picker-options="{selectableRange: '00:00:00 - 23:59:59'}" placeholder="选择时间"></el-time-picker>

        <br><br>


        <table class="table table-bordered"
               style="width: 100%; color: #909399; font-size: 14px;">
            <thead>
            <tr>
                <th style="text-align: center">No</th>
                <th style="text-align: center">类别</th>
                <th style="text-align: center">自动与否</th>
                <th style="text-align: center">原材料</th>
                <td style="text-align: center">实际重量</td>
            </tr>
            </thead>
            {% verbatim vue %}
                <tbody style="color: #606266;">
                <!--胶料配料标准  第一行 的汇总数据-->
                <tr style="background: rgba(189,198,210,0.73)">
                    <td colspan="4" style="text-align: center">配方结果</td>
                    <td style="text-align: center">{{ practicalWeightSum }}</td>
                </tr>
                <tr v-for="(new_material_ele, index) in NewRowMaterial" :key="index">
                    <!--<td>{{ new_material_ele.sn_ele }}</td>-->
                    <td v-show='false'>{{ new_material_ele.material }}</td>
                    <td style="text-align: center">{{ index + 1 }}
                    <td style="text-align: center">{{ new_material_ele.material_type }}</td>
                    <td style="text-align: center">
                        <template>
                          <el-radio v-model="new_material_ele.auto_flag_radio" :label="true">自动</el-radio>
                          <el-radio v-model="new_material_ele.auto_flag_radio" :label="false">手动</el-radio>
                        </template>
                    </td>
                    <td style="text-align: center">
                        <div style="margin-top: 12px;">
                          <el-input v-model="new_material_ele.material_name" size="mini" style="width: 70%" class="input-with-select" :disabled="true">
                            <el-button slot="append" icon="el-icon-search" v-on:click="pop_up_raw_material(new_material_ele, index)"></el-button>
                          </el-input>
                        </div>

                    </td>
                    <td style="text-align: center">
                        <el-input-number size="mini" controls-position="right" @change="NewPracticalWeightChanged(new_material_ele)" v-model.number="new_material_ele.practical_weight"></el-input-number>
                    </td>
                </tr>

                </tbody>
            {% endverbatim vue %}
        </table>
        <el-form>
            <el-form-item style="text-align: center">
                <el-button  @click="insert_NewPracticalWeightChanged">插入一行</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>


    <el-dialog
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            width="90%" title="胶料配料标准" :visible.sync="dialogRubberMaterialStandard">

        <el-form :inline="true">
            <el-form-item style="float: right">
                <el-button @click="PutNewsaveMaterialClicked">保存</el-button>
            </el-form-item>
        </el-form>

        胶料编码:&nbsp;&nbsp;&nbsp;&nbsp; <el-input size="mini" v-model="put_select_stage_product_batch_no" :disabled="true" style="width: 20%" ></el-input>
        胶料名称: <el-input size="mini" v-model="put_select_product_name" :disabled="true" style="width: 10%" ></el-input>
        状态: <el-input size="mini" v-model="put_select_status" :disabled="true" style="width: 10%" ></el-input>
        <br><br>
        <el-form :inline="true">
        <el-form-item label="炼胶机类型">
            <el-select
                    size="mini"
                    clearable
                    v-model="put_select_dev_type" placeholder="请选择">
                <el-option
                        v-for="item in DevTypeOptions"
                        :key="item.id"
                        :label="item.category_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        配料重量: <el-input size="mini" v-model="put_select_material_weight" :disabled="true" style="width: 10%" ></el-input>
        炼胶时间: <el-input-number size="mini" controls-position="right"  v-model.number="put_select_rm_time_interval"></el-input-number>

        </el-form>
        <br><br>


        <table class="table table-bordered"
               style="width: 100%; color: #909399; font-size: 14px;">
            <thead>
            <tr>
                <th style="text-align: center">No</th>
                <th style="text-align: center">类别</th>
                <th style="text-align: center">自动与否</th>
                <th style="text-align: center">原材料</th>
                <td style="text-align: center">实际重量</td>
            </tr>
            </thead>
            {% verbatim vue %}
                <tbody style="color: #606266;">
                <!--胶料配料标准  第一行 的汇总数据-->
                <tr style="background: rgba(189,198,210,0.73)">
                    <td colspan="4" style="text-align: center">配方结果</td>
                    <td style="text-align: center">{{ put_practicalWeightSum }}</td>
                </tr>
                <tr v-for="(new_material_ele, index) in PutProductRecipe" :key="index">
                    <!--<td>{{ new_material_ele.sn }}</td>-->
                    <td v-show='false'>{{ new_material_ele.material }}</td>
                    <td style="text-align: center">{{ index + 1 }}</td>
                    <td style="text-align: center">{{ new_material_ele.material_type }}</td>
                    <td style="text-align: center">
                        <template>
                          <el-radio v-model="new_material_ele.auto_flag" :label="true">自动</el-radio>
                          <el-radio v-model="new_material_ele.auto_flag" :label="false">手动</el-radio>
                        </template>
                    </td>
                    <td style="text-align: center">
                        <div style="margin-top: 12px;">
                          <el-input v-model="new_material_ele.material_name" size="mini" style="width: 70%" class="input-with-select" :disabled="true">
                            <el-button slot="append" icon="el-icon-search" v-on:click="pop_up_raw_material(new_material_ele, index)"></el-button>
                          </el-input>
                        </div>
                    </td>
                    <td style="text-align: center">
                        <el-input-number size="mini" controls-position="right" @change="PutNewPracticalWeightChanged(new_material_ele)" v-model.number="new_material_ele.actual_weight"></el-input-number>
                    </td>
                </tr>

                </tbody>



            {% endverbatim vue %}
        </table>
        <el-form>
            <el-form-item style="text-align: center">
                <el-button  @click="insert_PutNewPracticalWeightChanged">插入一行</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>



    <el-dialog
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            width="70%" title="原材料选择" :visible.sync="dialogRawMaterialSync">

        <el-form :inline="true">
            <el-form-item label="原材料类别">
                <el-select
                        clearable
                        @change="materialTypeChange"
                        v-model="materialType" placeholder="请选择">
                    <el-option
                            v-for="item in materialTypeOptions"
                            :key="item.id"
                            :label="item.global_name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            原材料编号:<el-input  v-model="search_material_no" v-on:input="search_material_no_Change" style="width: 20%" ></el-input>
            原材料名称:<el-input  v-model="search_material_name" v-on:input="search_material_name_Change" style="width: 20%" ></el-input>
        </el-form>


        <el-table
            highlight-current-row
            :data="tableRawMaterialData"
            border
            style="width: 100%">
        <el-table-column
                align="center"
                label="S"
                width="30">
        </el-table-column>
        <el-table-column
                align="center"
                prop="material_no"
                label="原材料代码">
        </el-table-column>
        <el-table-column
                align="center"
                prop="material_name"
                label="原材料名称">
        </el-table-column>
        <el-table-column
                align="center"
                prop="material_type_name"
                label="原材料类别">
        </el-table-column>
        <el-table-column align="center" label="操作">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button
                            size="mini"
                            @click="handleMaterialSelect(scope.row)">选中
                    </el-button>
                </el-button-group>
            </template>
        </el-table-column>
    </el-table>

    <el-pagination
        @current-change="raw_material_handleCurrentChange"
        :current-page.sync="currentPage"
        :page-size="raw_material_pageSize"
        :total="raw_material_tableDataTotal"
        layout="total, prev, pager, next">
    </el-pagination>

    </el-dialog>




{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/rubber_material_filter.js' %}"></script>
    <script src="{% static 'gui/js/rubber_material_standard_manage.js' %}"></script>
{% endblock %}
