{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">
        <el-form-item label="日期">
            <el-date-picker
                    v-model="getParams.plan_data"
                    @change="changeData"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="机台">
            <el-select v-model="getParams.equips"
                       @change="changeData"
                       clearable
                       placeholder="请选择">
                <el-option
                        v-for="item in machineList"
                        :key="item.id"
                        :label="item.equip_name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="胶料">
            <el-select v-model="getParams.glue" placeholder="请选择">
                <el-option
                        v-for="item in glueList"
                        :key="item.id"
                        :label="item.stage_product_batch_no"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button>
                新建
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button @click="selectRubber">
                选择胶料
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button @click="copyDataStuff">
                复制
            </el-button>
        </el-form-item>
    </el-form>
    {% verbatim vue %}
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop=""
                    label="S"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="a"
                    label="No">
            </el-table-column>
            <el-table-column
                    prop="配料机台"
                    label="No">
            </el-table-column>
            <el-table-column
                    prop="配料小科编码"
                    label="S">
            </el-table-column>
            <el-table-column
                    prop="小科重量（kg）"
                    label="S">
            </el-table-column>
            <el-table-column
                    prop="当前库存（袋）"
                    label="S">
            </el-table-column>
            <el-table-column label="胶料生产计划（车次）">
                <el-table-column
                        prop="list[0].b"
                        label="早班"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="list[0].b"
                        label="中班"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="list[0].a"
                        label="晚班"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="总计"
                        width="180">
                    <template slot-scope="scope">
                        {{ Number(scope.row.list[0].a) + Number(scope.row.list[0].b)}}
                    </template>
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="180"
                >
                    <template slot-scope="scope">
                        <el-button>
                            编辑
                        </el-button>
                        <el-button
                                @click="rowDelete(scope.row)"
                                size="mini"
                                type="danger">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table-column>
        </el-table>
    {% endverbatim vue %}
    {% include 'gui/paginations.html' %}
{% endblock %}

{% block dialogs %}
    {% verbatim vue %}
        <el-dialog
                title="复制配料小料日生产计划"
                :visible.sync="copyDialogVisible"
                :close-on-click-modal="false"
                :before-close="handleCloseCopy"
        >
            <el-form ref="formCopyData" :rules="rules" :model="formCopyData" label-width="80px">
                <el-form-item label="来源日期" prop="src_date"
                              :error="manageFormError.src_date">
                    <el-date-picker
                            @change="sourceDataChange"
                            v-model="formCopyData.src_date"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择来源日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="新建日期" prop="dst_date"
                              :error="manageFormError.dst_date">
                    <el-date-picker
                            v-model="formCopyData.dst_date"
                            type="date"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptionsCopy"
                            placeholder="选择新建日期">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
            <el-button @click="copyDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="copySubmit"
                       :loading="loadingBtnCopy">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="选择橡胶"
                :visible.sync="rubberDialogVisible"
        >
            <el-table
                    :data="tableDataRubber"
                    style="width: 100%">
                <el-table-column
                        prop=""
                        label="S"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop=""
                        label="胶料编码"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop=""
                        label="炼胶机类型"
                        width="50">
                </el-table-column>
                 <el-table-column
                        prop=""
                        label="配料机台"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop=""
                        label="当前库存（袋）"
                        width="50">
                </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
            <el-button @click="rubberDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="rubberDialogVisible = false">确 定</el-button>
            </span>
        </el-dialog>
    {% endverbatim vue %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'gui/css/smallStuff.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/rubber_smallStuff_daily_plan.js' %}"></script>
{% endblock %}