{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">
        <el-form-item label="日期">
            <el-select
                    @change="queryDataChange"
                    clearable
                    v-model="plan_date" placeholder="请选择">
                <el-option
                        :key="schedule.id"
                        :label="schedule.day_time"
                        :value="schedule.day_time"
                        v-for="schedule in planSchedules">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="机台">
            <el-select
                    @change="queryDataChange"
                    clearable
                    v-model="equip_no" placeholder="请选择">
                <el-option
                        :key="equip.id"
                        :label="equip.equip_no"
                        :value="equip.equip_no"
                        v-for="equip in equips">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="胶料">
            <el-select
                    @change="queryDataChange"
                    clearable
                    v-model="stage_product_batch_no"
                    placeholder="请选择">
                <el-option
                        :key="index"
                        :label="no"
                        :value="no"
                        v-for="(no, index) in stage_product_batch_nos">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item style="float: right">
            <el-checkbox-button v-model="addPlanVisible">
                新建
            </el-checkbox-button>
        </el-form-item>
        <el-form-item style="float: right">
            <el-button :disabled="!currentRow" @click="deletePlan">
                删除
            </el-button>
        </el-form-item>
        <el-form-item style="float: right">
            <el-button @click="dialogCopyVisible = true">
                复制
            </el-button>
        </el-form-item>
        <el-form-item style="float: right">
            <el-checkbox-button v-model="changePlanVisible">
                修改
            </el-checkbox-button>
        </el-form-item>
    </el-form>
    <el-table
            highlight-current-row
            @current-change="handleCurrentChange"
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column type="index" label="No" width="50"></el-table-column>
        <el-table-column prop="equip_no" label="机台"></el-table-column>
        <el-table-column width="150" prop="product_no" label="胶料配方编码"></el-table-column>
        <el-table-column prop="batching_weight" label="配料重量（吨）"></el-table-column>
        <el-table-column prop="production_time_interval" label="炼胶时间（分钟）"></el-table-column>
        <el-table-column label="当前库存（吨）"></el-table-column>
        <el-table-column label="早班计划">
            <el-table-column prop="pdp_product_classes_plan[0].sn" label="顺序">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[0].plan_trains" label="车次">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[0].weight" label="重量">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[0].time" label="时间">
            </el-table-column>
        </el-table-column>
        <el-table-column label="中班计划">
            <el-table-column prop="pdp_product_classes_plan[1].sn" label="顺序">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[1].plan_trains" label="车次">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[1].weight" label="重量">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[1].time" label="时间">
            </el-table-column>
        </el-table-column>
        <el-table-column label="夜班计划">
            <el-table-column prop="pdp_product_classes_plan[2].sn" label="顺序">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[2].plan_trains" label="车次">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[2].weight" label="重量">
            </el-table-column>
            <el-table-column prop="pdp_product_classes_plan[2].time" label="时间">
            </el-table-column>
        </el-table-column>
    </el-table>
    {% include 'gui/paginations.html' %}
    {% verbatim vue %}
        <el-card v-if="changePlanVisible">
            <div>
                修改计划
                <el-button @click="changePlan" style="float: right; margin-bottom: 20px">
                    确定
                </el-button>
            </div>
            <div style="overflow-x: auto;clear: both; text-align: center">
                <table data-toggle="table" class="table table-bordered"
                       style="color: #909399; font-size: 14px;">
                    <thead>
                    <tr>
                        <th colspan="4">早班计划</th>
                        <th colspan="4">中班计划</th>
                        <th colspan="4">夜班计划</th>
                    </tr>
                    <tr>
                        <template v-for="_ in 3">
                            <th>顺序</th>
                            <th>车次</th>
                            <th>重量(吨)</th>
                            <th>时间</th>
                        </template>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(plan, index) in rubberDailyPlanChangeForm.pdp_product_classes_plan">
                        <td>
                            <el-input-number v-model="plan.sn" :min="0">
                            </el-input-number>
                        </td>
                        <td>
                            <el-input-number @change="planTrainsChangeForUpdate(index)" v-model="plan.plan_trains"
                                             :min="0"></el-input-number>
                        </td>
                        <td>
                            {{ plan.weight }}
                        </td>
                        <td>
                            {{ plan.time }}
                        </td>
                    </template>
                    </tbody>
                </table>
            </div>
        </el-card>

    {% endverbatim vue %}
{% endblock %}

{% block dialogs %}
    <el-dialog
            width="90%"
            :visible.sync="addPlanVisible"
            title="添加胶料日生产计划">
        <div style="margin-bottom: 15px">
            <el-select placeholder="请选择机台" style="margin-right: 10px" v-model="equipIdForAdd">
                <el-option
                        :key="equip.id"
                        :label="equip.equip_no"
                        :value="equip.id"
                        v-for="equip in equips">
                </el-option>
            </el-select>
            <el-date-picker
                    style="margin-right: 10px"
                    @change="getPlanSchedules"
                    v-model="day_time"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
            <el-select v-model="planScheduleId" placeholder="倒班规则">
                <el-option
                        :key="planSchedule.id"
                        :label="planSchedule.work_schedule_name"
                        :value="planSchedule.id"
                        v-for="planSchedule in planSchedules">
                </el-option>
            </el-select>

            <el-button style="float: right" @click="batchSave">保存</el-button>
            <el-button @click="addOnePlan">添加</el-button>
        </div>
        <el-table
                :span-method="arraySpanMethod"
                :data="plansForAdd"
                border>
            <el-table-column prop="equip_.equip_no" label="机台" width="150">
            </el-table-column>
            <el-table-column label="胶料配方编码" width="180">
                <template v-if="!scope.row.sum" slot-scope="scope">
                    <el-select @change="productBatchingChanged(scope.row)" v-model="scope.row.product_batching">
                        <el-option
                                :key="productBatching.id"
                                :label="productBatching.stage_product_batch_no"
                                :value="productBatching.id"
                                v-for="productBatching in productBatchings">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column prop="batching_weight" label="配料重量（吨）"></el-table-column>
            <el-table-column prop="production_time_interval" label="炼胶时间（分钟）"></el-table-column>
            <el-table-column label="当前库存（吨）"></el-table-column>
            <el-table-column label="早班计划">
                <el-table-column label="顺序" width="210">
                    <template v-if="!scope.row.sum && scope.row.pdp_product_classes_plan[0].enable" slot-scope="scope">
                        <el-input-number v-model.number="scope.row.pdp_product_classes_plan[0].sn"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column label="车次" width="210">
                    <template v-if="scope.row.pdp_product_classes_plan[0].enable" slot-scope="scope">
                        <el-input-number :disabled="scope.row.sum" @change="planTrainsChanged(scope.row, 0)"
                                         v-model.number="scope.row.pdp_product_classes_plan[0].plan_trains"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column prop="pdp_product_classes_plan[0].weight" label="重量"></el-table-column>
                <el-table-column prop="pdp_product_classes_plan[0].time" label="时间"></el-table-column>
            </el-table-column>
            <el-table-column label="中班计划">
                <el-table-column label="顺序" width="210">
                    <template v-if="!scope.row.sum && scope.row.pdp_product_classes_plan[1].enable" slot-scope="scope">
                        <el-input-number v-model.number="scope.row.pdp_product_classes_plan[1].sn"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column label="车次" width="210">
                    <template v-if="scope.row.pdp_product_classes_plan[1].enable" slot-scope="scope">
                        <el-input-number :disabled="scope.row.sum" @change="planTrainsChanged(scope.row, 1)"
                                         v-model.number="scope.row.pdp_product_classes_plan[1].plan_trains"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column prop="pdp_product_classes_plan[1].weight" label="重量"></el-table-column>
                <el-table-column prop="pdp_product_classes_plan[1].time" label="时间"></el-table-column>
            </el-table-column>
            <el-table-column label="晚班计划">
                <el-table-column label="顺序" width="210">
                    <template v-if="!scope.row.sum && scope.row.pdp_product_classes_plan[2].enable" slot-scope="scope">
                        <el-input-number v-model.number="scope.row.pdp_product_classes_plan[2].sn"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column label="车次" width="210">
                    <template v-if="scope.row.pdp_product_classes_plan[2].enable" slot-scope="scope">
                        <el-input-number :disabled="scope.row.sum" @change="planTrainsChanged(scope.row, 2)"
                                         v-model.number="scope.row.pdp_product_classes_plan[2].plan_trains"
                                         :min="0"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column prop="pdp_product_classes_plan[2].weight" label="重量"></el-table-column>
                <el-table-column prop="pdp_product_classes_plan[2].time" label="时间"></el-table-column>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog
            :visible.sync="dialogCopyVisible"
            title="复制胶料日生产计划">
        <el-form>
            <el-form-item label="来源日期">
                <el-date-picker
                        v-model="src_date" type="date"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="新建日期">
                <el-date-picker
                        v-model="dst_date"
                        type="date"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogCopyVisible = false">取 消</el-button>
            <el-button type="primary" @click="copyPlan">确 定</el-button>
        </div>
    </el-dialog>

{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'node_modules/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'gui/js/rubber_schedule_daily_plan.js' %}"></script>
{% endblock %}