{% extends 'gui/base.html' %}
{% load static %}

{% block main %}
    <el-form :inline="true">
        <el-form-item label="日期">
            <el-date-picker
                    v-model="getParams.plan_date"
                    @change="changeData"
                    type="date"
                    value-format="yyyy-MM-dd"
                    :clearable="false"
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="机台">
            <el-select v-model="getParams.equip_no"
                       @change="changeData"
                       @visible-change="equipVisibleChange"
                       clearable
                       placeholder="请选择">
                <el-option
                        v-for="item in machineList"
                        :key="item.equip_no"
                        :label="item.equip_no"
                        :value="item.equip_no">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="胶料">
            <el-select v-model="getParams.product_no" placeholder="请选择"
                       clearable
                       @visible-change="glueVisibleChange"
                       @change="changeData">
                <el-option
                        v-for="item in glueList"
                        :key="item.stage_product_batch_no"
                        :label="item.stage_product_batch_no"
                        :value="item.stage_product_batch_no">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button @click="addRow">
                新建
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button @click="selectRubber">
                选择胶料
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button @click="copyDataStuff">
                复制
            </el-button>
        </el-form-item>
    </el-form>
    {% verbatim vue %}
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    align="center"
                    header-align="center"
                    prop=""
                    label="S"
                    width="50">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="id"
                    label="No">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="equip_no"
                    label="配料机台">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="catagory_name"
                    label="炼胶机类型">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="product_no"
                    label="配料小料编码">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="manual_material_weight"
                    label="小料重量（kg）">
                <template slot-scope="scope">
                    {{ scope.row.manual_material_weight||'--' }}
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="bags_total_qty"
                    label="当前库存（袋）">
            </el-table-column>
            <el-table-column
                    align="center"
                    header-align="center"
                    prop="plan_date_time"
                    label="日期">
            </el-table-column>
            <el-table-column label="胶料生产计划（车次）"
                             align="center"
                             header-align="center">
                <el-table-column
                        align="center"
                        header-align="center"
                        prop="rubber_product_classes_plan[0].plan_trains"
                        label="早班">
                </el-table-column>
                <el-table-column
                        align="center"
                        header-align="center"
                        prop="rubber_product_classes_plan[1].plan_trains"
                        label="中班">
                </el-table-column>
                <el-table-column
                        align="center"
                        header-align="center"
                        prop="rubber_product_classes_plan[2].plan_trains"
                        label="夜班">
                </el-table-column>
                <el-table-column
                        align="center"
                        header-align="center"
                        label="总计">
                    <el-table-column
                            align="center"
                            header-align="center"
                            label="袋数">
                        <template slot-scope="scope">
                            {{ addBatchNum(scope.row.rubber_product_classes_plan,'plan_trains')}}
                        </template>
                    </el-table-column>
                </el-table-column>
            </el-table-column>
            <el-table-column label="早班计划">
                <el-table-column
                        prop="pdp_product_batching_classes_plan[0].sn"
                        label="顺序">
                </el-table-column>
                <el-table-column
                        prop="pdp_product_batching_classes_plan[0].bags_qty"
                        label="袋数">
                </el-table-column>
            </el-table-column>
            <el-table-column label="中班计划">
                <el-table-column
                        prop="pdp_product_batching_classes_plan[1].sn"
                        label="顺序">
                </el-table-column>
                <el-table-column
                        prop="pdp_product_batching_classes_plan[1].bags_qty"
                        label="袋数">
                </el-table-column>
            </el-table-column>
            <el-table-column label="晚班计划">
                <el-table-column
                        prop="pdp_product_batching_classes_plan[2].sn"
                        label="顺序">
                </el-table-column>
                <el-table-column
                        prop="pdp_product_batching_classes_plan[2].bags_qty"
                        label="袋数">
                </el-table-column>
            </el-table-column>
            <el-table-column
                    label="日计划">
                <el-table-column
                        label="袋数">
                    <template slot-scope="scope">
                        {{ scope.row.bags_total_qty }}
                    </template>
                </el-table-column>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="200"
            >
                <template slot-scope="scope">
                    <el-button size="mini" @click="rowEdit(scope.row)">
                        编辑
                    </el-button>
                    <el-button
                            style="margin-left:0"
                            @click="rowDelete(scope.row)"
                            size="mini"
                            type="danger">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    {% endverbatim vue %}
    {% include 'gui/paginations.html' %}
{% endblock %}

{% block dialogs %}
    {% verbatim vue %}
        <el-dialog
                title="复制配料小料日生产计划"
                :visible.sync="copyDialogVisible"
                :before-close="handleCloseCopy"
        >
            <el-form ref="formCopyData" :rules="rules" :model="formCopyData" label-width="80px">
                <el-form-item label="来源日期" prop="src_date"
                              :error="manageFormError.src_date">
                    <el-date-picker
                            @change="sourceDataChange"
                            v-model="formCopyData.src_date"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择来源日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="新建日期" prop="dst_date"
                              :error="manageFormError.dst_date">
                    <el-date-picker
                            v-model="formCopyData.dst_date"
                            type="date"
                            value-format="yyyy-MM-dd"
                            :picker-options="pickerOptionsCopy"
                            placeholder="选择新建日期">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="copyDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="copySubmit"
                           :loading="loadingBtnCopy">确 定</el-button>
            </span>
        </el-dialog>

        <el-dialog
                title="选择胶料"
                :visible.sync="rubberDialogVisible"
                :before-close="handleCloseRubber"
        >
            <el-form :inline="true">
                <el-form-item label="日期：">
                    <el-date-picker
                            v-model="rubberDialogParams.plan_date"
                            @change="changeRubberDialog"
                            type="date"
                            :clearable="false"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="胶料：">
                    <el-select v-model="rubberDialogParams.product_no" placeholder="请选择"
                               clearable
                               @change="changeRubberDialog">
                        <el-option
                                v-for="item in glueList"
                                :key="item.stage_product_batch_no"
                                :label="item.stage_product_batch_no"
                                :value="item.stage_product_batch_no">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <el-table
                    ref="multipleTable"
                    :data="tableDataRubber"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="id"
                        label="No">
                </el-table-column>
                <el-table-column
                        prop="product_no"
                        label="胶料编码">
                </el-table-column>
                <el-table-column
                        prop="category"
                        label="炼胶机类型">
                </el-table-column>
                <el-table-column
                        prop="d"
                        width="140"
                        label="配料机台">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.newEquip"
                                   placeholder="请选择">
                            <el-option
                                    v-for="item in machineList"
                                    :key="item.id"
                                    :label="item.equip_no"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column label="胶料生产计划（车次）">
                    <el-table-column
                            prop="pdp_product_classes_plan[0].plan_trains"
                            label="早班">
                    </el-table-column>
                    <el-table-column
                            prop="pdp_product_classes_plan[1].plan_trains"
                            label="中班">
                    </el-table-column>
                    <el-table-column
                            prop="pdp_product_classes_plan[2].plan_trains"
                            label="夜班">
                    </el-table-column>
                    <el-table-column
                            label="日计划">
                        <template slot-scope="scope">
                            {{ addBatchNum(scope.row.pdp_product_classes_plan,'plan_trains')}}
                        </template>
                    </el-table-column>

                </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
                <el-button @click="rubberDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="rubberDialogSubmit">确 定</el-button>
            </span>
        </el-dialog>
        <el-dialog
                :title="formEdit.id?'编辑':'新建'"
                :visible.sync="dialogVisibleEdit"
                :before-close="handleCloseEdit"
                v-loading="dialogVisibleEditLoading">
            <el-form ref="formEdit" :rules="rulesEdit" :model="formEdit" label-width="120px">
                <div v-if="!formEdit.hasOwnProperty('id')">
                    <el-form-item label="配料机台" prop="equip">
                        <el-select v-model="formEdit.equip"
                                   placeholder="请选择">
                            <el-option
                                    v-for="item in machineList"
                                    :key="item.id"
                                    :label="item.equip_no"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="炼胶机类型" prop="workRubberType">
                        <el-select @change="changeWorkRubberType"
                                   v-model="formEdit.workRubberType"
                                   placeholder="请选择">
                            <el-option
                                    v-for="item in rubberTypeList"
                                    :key="item.id"
                                    :label="item.global_name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="配料小料编码" prop="product_batching">
                        <el-select v-model="formEdit.product_batching"
                                   @change="changeProductBatch"
                                   placeholder="请选择">
                            <el-option
                                    v-for="item in addGlueList"
                                    :key="item.id"
                                    :label="item.stage_product_batch_no"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <span style="color: #999;font-size: 12px; margin-left: 120px;">请先选炼胶机类型</span>
                    <el-form-item label="小料重量(kg)">
                        {{ smallMaterialEdit }}
                    </el-form-item>
                </div>
                <div>
                    <div v-for="(item,index) in formEdit.pdp_product_batching_classes_plan" :key="index">
                        <div>{{ index===0?'早': index===1?'中':'晚'}}班计划</div>
                        <el-form-item label="顺序">
                            <el-input-number :step="1" step-strictly v-model="item.sn"
                                             controls-position="right"
                                             :min="0"></el-input-number>
                        </el-form-item>
                        <el-form-item label="袋数">
                            <el-input-number @change="editNumber" :step="1" step-strictly
                                             v-model="item.bags_qty"
                                             controls-position="right"
                                             :min="0"></el-input-number>
                        </el-form-item>
                    </div>
                    <el-form-item label="当前库存(袋)">
                        {{ formEdit.bags_total_qty || 0 }}
                    </el-form-item>
                </div>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleEdit = false">取 消</el-button>
                <el-button type="primary" @click="editSubmit" :loading="EditLoading">确 定</el-button>
            </span>
        </el-dialog>
    {% endverbatim vue %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'gui/css/smallStuff.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/rubber_smallStuff_daily_plan.js' %}"></script>
{% endblock %}