{% extends 'gui/base.html' %}
{% load static %}


{% block main %}
    <el-form :inline="true">
        <el-form-item label="工号">
            {#            <el-input v-model="type_name" v-on:input="typeNameChanged"></el-input>#}
            <el-input></el-input>
        </el-form-item>
        <el-form-item label="用户名">
            {#            <el-input v-model="type_name" v-on:input="typeNameChanged"></el-input>#}
            <el-input></el-input>
        </el-form-item>
        <el-form-item>
            {#            <el-button @click="showCreateGlobalCodeTypeDialog">新建</el-button>#}
            <el-button @click="showCreateUserDialog">新建</el-button>
        </el-form-item>
        <el-form-item>
            {#            <el-button @click="showCreateGlobalCodeTypeDialog">新建</el-button>#}
            <el-button>导入</el-button>
        </el-form-item>
    </el-form>
    <template>
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="Id"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="num"
                    label="工号">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名">
            </el-table-column>
            <el-table-column
                    prop="section"
                    label="组织">
            </el-table-column>
            <el-table-column
                    prop="is_leave"
                    label="离职与否"
                    width="80"
                    :formatter="formatter">
            </el-table-column>
            <el-table-column
                    prop="created_user"
                    label="创建人">
            </el-table-column>
            <el-table-column
                    prop="type_name"
                    label="创建日期">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button
                                size="mini"
                                @click="">编辑
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="">删除
                        </el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @current-change="currentChange"
                :current-page.sync="currentPage"
                :page-size="pageSize"
                :total="tableDataTotal"
                layout="total, prev, pager, next">
        </el-pagination>
    </template>
{% endblock %}

{% block dialogs %}
    <el-dialog title="添加用户" :visible.sync="dialogCreateUserVisible">
        <el-form :model="userForm" ref="userForm" :rules="rules" :label-width="formLabelWidth">
            <el-form-item label="用户名" >
                <el-input v-model="userForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="userForm.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="userForm.checkPass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="工号">
                <el-input v-model.number="userForm.num"></el-input>
            </el-form-item>
        </el-form>
        {#        <el-form :model="globalCodeForm">#}
        {#            <el-form-item :error="globalCodeFormError.global_no" label="公用代码编号" :label-width="formLabelWidth">#}
        {#                <el-input v-model="globalCodeForm.global_no"></el-input>#}
        {#            </el-form-item>#}
        {#            <el-form-item :error="globalCodeFormError.global_name" label="公用代码名称" :label-width="formLabelWidth">#}
        {#                <el-input v-model="globalCodeForm.global_name"></el-input>#}
        {#            </el-form-item>#}
        {#            <el-form-item :error="globalCodeFormError.description" label="说明" :label-width="formLabelWidth">#}
        {#                <el-input v-model="globalCodeForm.description"></el-input>#}
        {#            </el-form-item>#}
        {#            <el-form-item :error="globalCodeFormError.used_flag" label="是否启用" :label-width="formLabelWidth">#}
        {#                <el-switch v-model="globalCodeForm.used_flag_b"></el-switch>#}
        {#            </el-form-item>#}
        {#        </el-form>#}
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogCreateUserVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm('userForm')">确 定</el-button>
        </div>
    </el-dialog>
{% endblock %}

{% block scripts %}
    <script src="{% static 'gui/js/user_manage.js' %}"></script>
{% endblock %}