
html, body, #app, .el-container, .el-aside, .el-menu {
    height: 100%;
}

body {
    margin: 0;
}

.box-card {

    margin-top: 20px;
}

.el-transfer-panel {
    width: 250px !important;
}